.loader{
    position: absolute;
    left: 50%;
    top: 50%; 
  }
  .loader-circle{
    width: 30px;
    height: 30px;
    border: 6px solid rgb(85, 207, 245);
    color: rgb(145, 238, 245);
    border-top: 6px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }
  