
:root{
  --primary : rgb(236,240,244);
  --green_btns: #D4AF37;
  --blue_btns: #D4AF37;
  --textPrimary: #f9f9f9;
  --tableHover: rgb(247,247,247);
  --text-secondery: rgb(213, 213, 213);
  --danger: #dc3545;
  --success: #28a745;
}

body{
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  margin: 0px;
}

/* .listMain{
  margin: 0px 16px 16px;
  padding: 15px;
  background-color: white;
  border-radius: 8px;
}
.listMain h2{
  color: var(--textPrimary);
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 18px;
} */
.listMain h2{
  color: var(--textPrimary);
}
/* Active */
.active{
  background-color: var(--primary);
  color: var(--blue_btns);
  border-radius: 4px;
  transition-duration: 0.5s;
  font-weight: 500;
}

.acctive-button{
  padding: 10px;
  /* border-radius: 4px; */
  border: none;
  margin-left: 4px;
  color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: var(--blue_btns);
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
}
.in-acctive-button{
  padding: 10px;
  /* border-radius: 4px; */
  border: none;
  margin-left: 4px;
  color: var(--blue_btns);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
}

/* Pagination */

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: right;
  cursor: pointer;
}

.pagination li {
  display: inline-block;
  margin-right: 5px;
}

.pagination li a {
  color: #000;
  padding: 5px 10px;
  border: 1px solid #ccc;
  text-decoration: none;
}

.pagination li.active a{
  background-color: var(--blue_btns);
  color: white;
}

.pagination.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.pagination.disabled li a {
  cursor: not-allowed;
}

/* List main */
.listDiv{
  color: var(--text-secondery);
}
.listMain{
  margin: 20px 16px 16px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.796);
  border-radius: 8px;
}
.listHead{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.searchTab{
  display: flex;
  justify-content: space-between;
  color: rgb(163, 162, 162);
  border-bottom: 1.5px solid var(--primary);
  padding-bottom: 20px;
  margin-top: 20px;
}
.search-tab-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.searchTab select{
  padding: 6px;
}
.searchTab input{
  border: 1px solid var(--primary);
  color: gray ;
  padding: 10px;
  border-radius: 4px;
}
.searchTab button{
padding: 10px;
/* border-radius: 4px; */
border: none;
margin-left: 4px;
color: white;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
background-color: var(--blue_btns);
cursor: pointer;
font-family: "Poppins", sans-serif;
font-optical-sizing: auto;
}
.searchTab input:focus{
border-bottom: 2px solid var(--blue_btns);
outline: none;
}

/*  */
.listTable{
  margin-top: 20px;
  /* font-size: 15px; */
}
.listTable thead{
  font-size: 14px;
}
.listTable tbody tr:hover{
  background-color: var(--tableHover);
  cursor: pointer;
}
.listTable thead th{
  border-bottom: 1px solid var(--primary);
  font-size: 10px;
  font-weight: bold;
}
.tableRow td{
  color: var(--textPrimary) !important;
  /* padding: 8px; */
  border-bottom: 1px solid var(--primary);
  font-weight: 500;
  font-size: 14px;
}
.moreMain img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.detailsTr td:hover{
  cursor: auto;
}
/* More Content */

.transAmountPending p{ 
  background-color: rgb(248, 178, 49);
  text-align: center;
  font-weight: 700;
  color: white;
  padding: 6px 0px;
  border-radius: 4px;
  margin: 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.transAmount p{
  background-color: var(--blue_btns);
  text-align: center;
  font-weight: 700;
  color: white;
  padding: 6px 4px;
  border-radius: 4px;
  margin: 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.transAmount p a, .transAmountPending p a{
  text-decoration: none;
  color: white;
  padding: 2px 20px;
  margin: -2px -20px;
}

.moreMain img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.detailsTr td:hover{
  cursor: auto;
}

.moreMain {
  background-color: #fff3f3;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

.moreMain button{
  background-color: var(--blue_btns);
  border: none;
  color: white;
  padding: 6px 14px;
  border-radius: 4px;
}
.gridItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  text-align: center;
  margin-right: 12px;
}
.newGrid{
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
}

.moreGrid2 {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  justify-content: space-between;
  padding-top: 14px;
  padding-right: 12px;
}

.gridItem p {
  margin: 0;
  padding: 4px 0;
}

.grid-foot {
  color: #b46ef9;
}

.grid-head {
  font-weight: 600;
  font-size: 14px;
}

.moreIcons {
  background-color: var(--blue_btns);
  color: white;
  padding: 6px;
  font-size: 20px;
  margin-bottom: 6px;
  border-radius: 6px;
}

/* Error */

.errDiv{
  background-color: rgba(211, 168, 168, 0.61);
  color: var(--danger);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  font-weight: bold;
  margin: 12px 0px;
  padding: 8px;
}
.btnLogOut{
  color: var(--danger);
  font-weight: bold;
}

.tableBtn{
  display: flex;
}

.tableBtn span{
  background-color: var(--primary-color);
  color: white;
  padding: 8px 10px;
  border-radius: 4px;
  cursor: pointer;
  /* margin: 4px; */
  /* display: flex; */
}

.approval-textarea {
  width: 98%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.approval-textarea:focus {
  border-color: var(--green_btns);
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.approval-textarea {
  min-height: 120px;
}
.actionButton {
  background-color: var(--blue_btns);
  border: none;
  color: white;
  padding: 6px 14px;
  border-radius: 2px;
  margin: 2px;
}
.details-link{
  font-size: 14px;
}